# Q3

Load the data from wine dataset. Check whether all attributes are standardized or not (mean
is 0 and standard deviation is 1). If not, standardize the attributes. Do the same with Iris dataset.

# Wine DataSet

In [21]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_wine
wine_dataset = load_wine()
from sklearn.preprocessing import StandardScaler

In [7]:
df = pd.DataFrame(wine_dataset.data,columns=wine_dataset.feature_names)

In [8]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [10]:
for column in df.columns:
    mean = df[column].mean()
    std = df[column].std()
    if abs(mean) < 0.01 and abs(std - 1) < 0.01:
        print(f"Column '{column}' is standardized")
    else:
        print(f"Column '{column}' is not standardized")

Column 'alcohol' is not standardized
Column 'malic_acid' is not standardized
Column 'ash' is not standardized
Column 'alcalinity_of_ash' is not standardized
Column 'magnesium' is not standardized
Column 'total_phenols' is not standardized
Column 'flavanoids' is not standardized
Column 'nonflavanoid_phenols' is not standardized
Column 'proanthocyanins' is not standardized
Column 'color_intensity' is not standardized
Column 'hue' is not standardized
Column 'od280/od315_of_diluted_wines' is not standardized
Column 'proline' is not standardized

In [12]:
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [13]:
df_scaled.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,1.518613,-0.562250,0.232053,-1.169593,1.913905,0.808997,1.034819,-0.659563,1.224884,0.251717,0.362177,1.847920,1.013009
1,0.246290,-0.499413,-0.827996,-2.490847,0.018145,0.568648,0.733629,-0.820719,-0.544721,-0.293321,0.406051,1.113449,0.965242
2,0.196879,0.021231,1.109334,-0.268738,0.088358,0.808997,1.215533,-0.498407,2.135968,0.269020,0.318304,0.788587,1.395148
3,1.691550,-0.346811,0.487926,-0.809251,0.930918,2.491446,1.466525,-0.981875,1.032155,1.186068,-0.427544,1.184071,2.334574
4,0.295700,0.227694,1.840403,0.451946,1.281985,0.808997,0.663351,0.226796,0.401404,-0.319276,0.362177,0.449601,-0.037874

In [14]:
for column in df_scaled.columns:
    mean = df_scaled[column].mean()
    std = df_scaled[column].std()
    if abs(mean) < 0.01 and abs(std - 1) < 0.01:
        print(f"Column '{column}' is standardized")
    else:
        print(f"Column '{column}' is not standardized")

Column 'alcohol' is standardized
Column 'malic_acid' is standardized
Column 'ash' is standardized
Column 'alcalinity_of_ash' is standardized
Column 'magnesium' is standardized
Column 'total_phenols' is standardized
Column 'flavanoids' is standardized
Column 'nonflavanoid_phenols' is standardized
Column 'proanthocyanins' is standardized
Column 'color_intensity' is standardized
Column 'hue' is standardized
Column 'od280/od315_of_diluted_wines' is standardized
Column 'proline' is standardized

# Iris DataSet

In [8]:
from sklearn.datasets import load_iris
iris_dirty = load_iris()

In [65]:
iris = pd.DataFrame(data=iris_dirty.data, columns=iris_dirty.feature_names)
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [66]:
for column in iris.columns:
    means = iris[column].mean()
    std = iris[column].std()
    
    if abs(means)<0.1 and abs(std-1)<0.1:
        print(f"Column'{column}' is standardized")
    else:
        print(f"Column'{column}' is not standardized")

Column'sepal length (cm)' is not standardized
Column'sepal width (cm)' is not standardized
Column'petal length (cm)' is not standardized
Column'petal width (cm)' is not standardized

In [28]:
scaler = StandardScaler()
iris = pd.DataFrame(scaler.fit_transform(iris))

In [29]:
for column in iris.columns:
    means = iris[column].mean()
    std = iris[column].std()
    
    if abs(means)<0.1 and abs(std-1)<0.1:
        print(f"Column'{column}' is standardized")
    else:
        print(f"Column'{column}' is not standardized")

Column'0' is standardized
Column'1' is standardized
Column'2' is standardized
Column'3' is standardized