In [30]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder

In [24]:
data = [['apple','mango','banana','orange'],['apple','mango'],['grapes','apple'],['apple','banana','yellow','citrus']]

In [33]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary,columns=te.columns_)
df

   apple  banana  citrus  grapes  mango  orange  yellow
0   True    True   False   False   True    True   False
1   True   False   False   False   True   False   False
2   True   False   False    True  False   False   False
3   True    True    True   False  False   False    True

In [34]:
freq = apriori(df,min_support=0.5,use_colnames=True)
freq

   support         itemsets
0      1.0          (apple)
1      0.5         (banana)
2      0.5          (mango)
3      0.5  (apple, banana)
4      0.5   (apple, mango)

In [37]:
res = association_rules(freq,metric="confidence",min_threshold=0.75)

In [38]:
print(res)

  antecedents consequents  antecedent support  consequent support  support  \
0    (banana)     (apple)                 0.5                 1.0      0.5
1     (mango)     (apple)                 0.5                 1.0      0.5

   confidence  lift  leverage  conviction  zhangs_metric
0         1.0   1.0       0.0         inf            0.0
1         1.0   1.0       0.0         inf            0.0